h1 {
    color: black; font-size: 1,2em
}
label {display: block;font: 1rem'Fira sans', sans-serif;}
input {margin: .5rem 0px;}
input {margin: .5rem 0px;}
input {min-width: 200px;  max-width: 400px;}
label{margin: .4rem 0px;}
input{border-radius: 30px}